[Desktop Entry]
Encoding=UTF-8
Name=Link to Exercise type and intensity for Alex & Ed.xlsx
Type=Link
URL=https://cdn.fbsbx.com/v/t59.2708-21/18445690_1554500577947003_4635430465950449664_n.xlsx/Exercise-type-and-intensity-for-Alex-Ed.xlsx?oh=801e0b5aa736a409a5e3548487dd871f&oe=592555FA&dl=1
Icon=application-vnd.openxmlformats-officedocument.spreadsheetml.sheet
Name[en_IE]=exercise.xlsx
