[Desktop Entry]
Encoding=UTF-8
Name=Link to App suggestions New 19_5_17.xlsx
Type=Link
URL=https://cdn.fbsbx.com/v/t59.2708-21/18446204_1554500571280337_4502533629372530688_n.xlsx/App-suggestions-New-19_5_17.xlsx?oh=dec4799774b5a3257aaabe117db124b1&oe=5925694E&dl=1
Icon=application-vnd.openxmlformats-officedocument.spreadsheetml.sheet
Name[en_IE]=suggestions.xlsx
